.body{
	background-color: white;
}
.neuron{
	text-align: left;
	margin-top: 30px;
	margin-left: 80px;
	font-family: "Merriweather",serif;
	font-size: 20px;
	font-style: bold;
	text-decoration: none;
}
.home{
	text-align: right;
	margin-top: 0px;
	margin-left: 70px;
	font-family: "Merriweather",serif;
	font-size: 20px;
	font-style: normal;
	text-decoration: none;
}
.about{
	text-align: right;
	margin-top: 0px;
	margin-left: 70px;
	margin-right: 20px;
	font-family: "Merriweather",serif;
	font-size: 20px;
	font-style: normal;
	text-decoration: none;
}
.gallery{
	text-align: left;
	margin-top: 0px;
	margin-left: 50px;
	margin-right: 20px;
	font-family: "Merriweather",serif;
	font-size: 20px;
	font-style: normal;
	text-decoration: none;
}
.contact{
	text-align: left;
	margin-top: 0px;
	margin-left: 10px;
	margin-right: 20px;
	font-family: "Merriweather",serif;
	font-size: 20px;
	font-style: normal;
	text-decoration: none;
}


.div1{
	position: absolute;
	width: 1310px;
	height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 40px;
	left: 0; right: 0; bottom: 80px;top: 80px;
}
.d1{
	text-align: center;
	margin-top: 130px;
	font-family: bold;
	font-family: "Merriweather",serif;
	font-size: 80px;
	letter-spacing: 0.5px;
	color: white;
}
.div2{
	text-align: center;
	color: gray;
	font-family: verdana;
}
.div3{
	
	color: gray;
	font-family: verdana;
}
.div4{
font-style: bold;
	color:white;
border: 2px solid white;
background-color:black;
padding-top: 50px;
padding-right: 30px;
padding-bottom: 250px;
padding-left: 80px;
}
.div5{
width: 420px;
	height: 30px;
	font-family: arial;
	display: inline-block;
}
.div6{
	width: 420px;
	height: 30px;
	font-family: : arial;
	display: inline-block;
}
.image{
	background-image: url(about-bg.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position:  center;
	width: 100%;
	height: 650px;
	margin-top: 30px;
}
.gal1{
	padding-left: 200px;
	padding-top: 50px;
	padding-right: 200px;
	font-family: 'Merriweather',serif;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	letter-spacing: 0.5px;
	color:#333333; 
}
.gal2{
	padding-top: 50px;
	padding-left: 200px;
}
a:link {
  color:#777777;
}


a:visited {
  color:#777777;
}


a:hover {
  color: #BFBA55;
}


a:active {
  color: yellow;
}